.main-content {
    position: relative;
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    background-color: #f6f6f6;
    padding-top: 16px;
    transition: all .3s ease;
    border-top: 2px solid #587186;
    border-radius: 2px 2px 0px 0px;
}
/* PLACEHOLDER STYLE STARTS*/



.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content {
  height: inherit;
  text-align: initial;
}

.DraftEditor-root {
    position: relative;
}

.public-DraftEditorPlaceholder-root {
    color: #e2e2e2;
    position: absolute;
    z-index: 1;
}

.DraftEditor-editorContainer {
    color: rgba(0,0,0,.87);
    background-color: hsla(0,0%,100%,0);
    border-left: .1px solid transparent;
    position: relative;
    z-index: 1;
}

.public-DraftStyleDefault-block {
    position: relative;
    white-space: pre-wrap;
}

.public-DraftStyleDefault-ltr {
    direction: ltr;
    text-align: left;
}

